body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    
}

.container-fluid {
    padding: 0px;
}

.main-img {
    width: 550px;
    height: 450px;
    padding-top: -200px;
}

.main-img img {
    height: auto;
    max-width: 100%;
}

.logo {
    width: 45px;
    margin-left: 10px;
}

header {
    background-color: #deeffb;
}

.title h1 {
    font-size: 67px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1px;
    margin-left: 10%;
    margin-top: 170px;
}

.navbar-nav .nav-link {
    font-size: 12px;
}

.line {
    border-left: 1px solid rgba( 0, 0, 0.5);
}

.sub-title p {
    font-size: 12px;
    margin-left: 10%;
    margin-top: 230px;
}

.search-bar {
    z-index: 1;
    width: 700px;
    padding-top: 500px;
    position: absolute;
    padding-left: 10%;
}

.white-bkgd {
    background-color: #fff;
    height: 50px;
    align-content: center;
    -webkit-box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
    box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
}

.purple-bkgd {
    background-color: #442edf;
    height: 50px;
    color: #fff;
    align-items: center;
    -webkit-box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
     box-shadow: -1px -4px 49px -9px rgba(0,0,0,0.59);
}

h6 {
    font-size: 10px;
}

.align {
    text-align: center;
    margin-top: 10px;
}

.search-button {
    margin-top: 8%;
}

.col-md-6 {
    padding: 0;
}

.partner-logo {
    width: 100%;
}

h5 {
    font-size: 14px;
}

.footer-margin {
    margin-top: 60px;
    padding: 0 40px;
}

@media only screen and (max-width: 800px) {
    .search-bar {
        width: 600px;
    }
}

@media only screen and (max-width: 650px) {
    .search-bar {
        width: 450px;
    }

.sub-title {
     margin-top: 200px;
}

.partner-logo {
    width: 20%;
    margin: 0 auto;
    display: block;
    padding: 20px 0px;
}

.footer-margin {
    text-align: center ;
    margin-top: 20px;
}
}